*.pyc
.DS_Store
IslandGIS/.DS_Store
IslandGIS/dev.db
IslandGIS/static/media/uploads/.thumbnails
IslandGIS/static/media/uploads/partners/.thumbnails
IslandGIS/static/media/uploads/clients/.thumbnails
IslandGIS/static/media/uploads/galleries/.thumbnails
IslandGIS/static/media/uploads/icons/.thumbnails
IslandGIS/static/css/
