{% extends "pages/page.html" %}
{% load mezzanine_tags %}
<body id="{% block body_id %}contact{% endblock %}">
{% block grey %}{% endblock %}
{% block white %}
  <div class="white">
      <div class="hero--plain hero--plain__white">
          <section class="wrapper">
            <h2>Get in touch</h2>
          </section>
      </div>
  </div>
{% endblock %}

{% block map %}
<div class="hero hero--map">
        <div id="contact-map"></div>
    </div>
{% endblock %}
{% block main %}{{ block.super }}

<div class="content">

<div class="col-md-8 get-down">
<form method="POST">
        {% csrf_token %}
        {{ flexiform_FeedbackForm.as_p }}
        <input class="button move-right" type="submit"></input>
</form>
</div>
  <aside class="aside pull-right">
          <div class="address">
            <h3 class="contact__title">Head Office</h3>
            <p>{% editable flexi_content_field1.content %}
                {{flexi_content_field1.content|richtext_filter|safe}}
              {% endeditable %}</p>
          </div>

          <h3 class="contact__title">Social</h3>
          <ul class="sm sm--sidebar">
            <li class="sm__item"><a href="http://www.linkedin.com/company/island-gis"><img src="{{ MEDIA_URL }}uploads/linkedin.png" alt="Linkedin"></a></li>
          <li class="sm__item"><a href="https://twitter.com/IslandGIS"><img src="{{ MEDIA_URL }}uploads/twitter.png" alt="Twitter"></a></li>
          <li class="sm__item"><a href="https://plus.google.com/s/islandgis"><img src="{{ MEDIA_URL }}uploads/google.png" alt="Google+"></a></li>
          </ul>
        </aside>

</div>
{% endblock %}

