{% extends "pages/page.html" %}
{% load mezzanine_tags %}

{% block map %}
<div id="home-map" class="hero hero--map">
      <div id="contact-map"></div>
      <!-- <section class="wrapper">
        <div class="hero__text">
          <h2>Specialists in Advanced mapping technologies</h2>
          <a href="" class="button">Find out more</a>
        </div>
      </section> -->
    </div>
{% endblock %}

{% block clients %}{% include "includes/our_clients.html" %}{% endblock %}

{% block grey %}{% endblock %}

{% block tabs_box %}
<div class="wrapper">
    <div class="tab__controls">
        <ul class="tab__links">
          <li><a class="tab__link" href="#tabs-1">Oil &amp; Gas</a></li>
          <li><a class="tab__link" href="#tabs-2">Renewable Energy</a></li>
          <li><a class="tab__link" href="#tabs-3">Utilities</a></li>
          <li><a class="tab__link" href="#tabs-4">Maritime</a></li>
        </ul>
    </div>
</div>
<div class="tabs_box">
	<div class="wrapper">
	<section class="tabs" id="tabs_container">
      <div id="tabs-1" class="tab">
        <img src="{{ MEDIA_URL }}uploads/Home-Tab-Sample.jpg" alt="">
        <div class="tab__text">
        	<p>{% editable flexi_content_field1.content %}
        	{{flexi_content_field1.content|richtext_filter|safe}}
        	{% endeditable %}</p>
          <a href="services/oil-gas" class="button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-2" class="tab">
        <img src="{{ MEDIA_URL }}uploads/Home-Tab-Sample.jpg" alt="">
        <div class="tab__text">
        	<p>{% editable flexi_content_field2.content %}
        	{{flexi_content_field2.content|richtext_filter|safe}}
        	{% endeditable %}</p>
          <a href="services/renewables" class="button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-3" class="tab">
        <img src="{{ MEDIA_URL }}uploads/Home-Tab-Sample.jpg" alt="">
        <div class="tab__text">
          <p>{% editable flexi_content_field3.content %}
        	{{flexi_content_field3.content|richtext_filter|safe}}
        	{% endeditable %}</p>
          <a href="services/utilities" class="button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-4" class="tab">
        <img src="{{ MEDIA_URL }}uploads/Home-Tab-Sample.jpg" alt="">
        <div class="tab__text">
        	<p>{% editable flexi_content_field4.content %}
        	{{flexi_content_field4.content|richtext_filter|safe}}
        	{% endeditable %}</p>
          <a href="services/maritime" class="button">View Case Study</a>
        </div>
      </div>
    </section>
	</div>
</div>

{% endblock %}
{% block partners %}{% include "includes/our_partners.html" %}{% endblock %}

{% block feature_box %}
<div class="feature_box">
    <div class="wrapper">
        <div class="feature">
            <h3 class="feature__title">Our Team</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">
            <p>{% editable flexi_content_field5.content %}
             {{flexi_content_field5.content|richtext_filter|safe}}
            {% endeditable %}</p>
          </h4>
            <a href="team/our-team" class="feature__link">Read More</a>
            </div>
        </div>
        <div class="feature">
            <h3 class="feature__title">Our Blog</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">
            <p>{% editable flexi_content_field6.content %}
              {{flexi_content_field6.content|richtext_filter|safe}}
             	{% endeditable %}</p>
            <a href="blog" class="feature__link">Read More</a>
            </div>
        </div>
        <div class="feature">
            <h3 class="feature__title">Our Video</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">
            <p>{% editable flexi_content_field7.content %}
              {{flexi_content_field7.content|richtext_filter|safe}}
              {% endeditable %}</p>
            <a href="" class="feature__link">Read More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}{{ block.super }}

{% endblock %}
