<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
{% block head %}
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/screen.css" media="screen" %}">
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}

<!--
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!-- Modernizer -->
      <script src="{% static "js/modernizr.custom.31141.js" %}"></script>

<!-- GMaps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNTSMEOij97Zpc3vSSkP1pXOIWg8tH-gA&sensor=false"></script>


  <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript"src="assets/js/selectivizr-min.js"></script>
    <script src="assets/js/respond.min.js"></script>
  <![endif]-->
  <script src="{% static "js/jquery.tools.min.js" %}"></script>
  <script src="{% static "js/jquery.simpleplaceholder.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>
  <script src="{% static "js/infobox_packed.js" %}"></script>
  <script src="{% static "js/show-hide.js" %}"></script>

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
{% endblock %}
</head>

{% block navhead %}
<body id="{% block body_id %}index{% endblock %}">

<div class="navbar navbar-fixed-top" role="navigation">
    <div class="wrapper">
        <div class="carret navbar-header my-navbar">
            {% nevercache %}
                {% include "includes/user_panel.html" %}
            {% endnevercache %}
        </div>
    </div>
</div>
{% endblock %}
<div class="wrapper">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

{% block headers %}
<header role="banner" class="banner">
<div class="logo">
    <a href="{% url "home" %}">
        <img src="{{ MEDIA_URL }}uploads/logo.png">
        </a>
    </div>

    <div class="my-menu">
        {% page_menu "pages/menus/dropdown.html" %}
    </div>
</div>
</header>
{% endblock %}

{% block map %}{% endblock %}

{% block grey %}<div class="grey">{{ page.title }}</div>{% endblock %}
{% block white %}{% endblock %}

{% block clients %}{% endblock %}

{% block tabs_box %}<div class="tabs_box"></div>{% endblock %}

{% block partners %}{% endblock %}

{% block feature_box %}<div class="feature_box"></div>{% endblock %}


<div class="wrapper">
    <div class="row">
        {% block feed_panel %}
        <div class="col-md-9 middle content">
            {% block main %}{% endblock %}
        </div>
        <div class="col-md-3 right">
            {% block right_panel %}
            {% endblock %}
            <br />
            <br />
            {% ifinstalled mezzanine.twitter %}
            {% include "twitter/tweets.html" %}
            {% endifinstalled %}
        </div>
        {% endblock %}
    </div>
</div>


{% block footer %}
<div class="footer">
      <footer class="wrapper" role="contentinfo">
        <img class="logo logo--footer" src="{{ MEDIA_URL }}uploads/logo.png" alt="Island GIS">
        <p>1-2 Sciennes Gardens, Edinburgh, <br> Scotland, UK, EH9 1NR <br>+44 (0) 131 667 5454</p>

        <ul class="sm">
          <li class="sm__item"><a href="http://www.linkedin.com/company/island-gis"><img src="{{ MEDIA_URL }}uploads/linkedin.png" alt="Linkedin"></a></li>
          <li class="sm__item"><a href="https://twitter.com/IslandGIS"><img src="{{ MEDIA_URL }}uploads/twitter.png" alt="Twitter"></a></li>
          <li class="sm__item"><a href="https://plus.google.com/s/islandgis"><img src="{{ MEDIA_URL }}uploads/google.png" alt="Google+"></a></li>
        </ul>

        <ul class="smallprint">
          <li class="smallprint__item">&copy; Copyright {% now "Y" %} by Island GIS</li>
            <li class="smallprint__item" style="float: right;">registered in Scotland (SC 313548)</li>
          <!--<li class="smallprint__item">{% page_menu "pages/menus/footer.html" %}</li>-->
        </ul>

      </footer>

{% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
