{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block map %}
<div id="home-map" class="hero hero--map">
      <div id="contact-map"></div>
    </div>
{% endblock %}

{% block grey %}{% endblock %}

{% block main %}
{% blocktrans %}

{% endblocktrans %}
{% endblock %}

{% block tabs_box %}
<div class="container">
    <div class="tab__controls">
        <ul class="tab__links">
          <li><a class="tab__link" href="#tabs-1">Oil &amp; Gas</a></li>
          <li><a class="tab__link" href="#tabs-2">Renewable Energy</a></li>
          <li><a class="tab__link" href="#tabs-3">Utilities</a></li>
          <li><a class="tab__link" href="#tabs-4">Maritime</a></li>
        </ul>
    </div>
</div>
{% include "includes/tabpages.html" %}
{% endblock %}

{% block feature_box %}
<div class="feature_box">
    <div class="container">
        <div class="feature">
            <h3 class="feature__title">Our Team</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">Island GIS wins AGI Award for Innovation and Best Practice</h4>
            <p>We were delighted to win this award for our ongoing managed service to SSE.</p>
            <a href="team/our-team" class="feature__link">Read More</a>
            </div>
        </div>
        <div class="feature">
            <h3 class="feature__title">Our Blog</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">Island GIS wins AGI Award for Innovation and Best Practice</h4>
            <p>We were delighted to win this award for our ongoing managed service to SSE.</p>
            <a href="blog" class="feature__link">Read More</a>
            </div>
        </div>
        <div class="feature">
            <h3 class="feature__title">Our Video</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">Island GIS wins AGI Award for Innovation and Best Practice</h4>
            <p>We were delighted to win this award for our ongoing managed service to SSE.</p>
            <a href="" class="feature__link">Read More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block feed_panel %}{% endblock %}