{% extends "pages/page.html" %}
{% load mezzanine_tags %}
{% load blog_tags keyword_tags i18n future %}
<body id="{% block body_id %}index{% endblock %}">

{% block breadcrumb_menu %}
{% endblock %}

{% block map %}
<div id="home-map" class="hero hero--map">
      <div id="contact-map"></div>
      <!-- <section class="wrapper">
        <div class="hero__text">
          <h2>Specialists in Advanced mapping technologies</h2>
          <a href="" class="button">Find out more</a>
        </div>
      </section> -->
    </div>
{% endblock %}

{% block clients %}
<div class="clients">
      <section class="wrapper slider__wrapper">
        <h3 class="clients__title">Our Clients</h3>

        <!-- "previous page" action -->
        <a class="prev browse left">PREV</a>

        <!-- root element for scrollable -->
        <div class="scrollable" id="scrollable">

          <!-- root element for the items -->
          <div class="items">

            <!-- 1-5 -->
            <div>
              {% editable flexi_OurClient_field1.content %}
              {{flexi_OurClient_field1.content|richtext_filter|safe}}
              {% endeditable %}
            </div>

            <!-- 5-10 -->
            <div>
              {% editable flexi_OurClient_field2.content %}
              {{flexi_OurClient_field2.content|richtext_filter|safe}}
              {% endeditable %}
            </div>

            <!-- 10-15 -->
            <!--
            <div>
              {% editable flexi_OurClient_field3.content %}
              {{flexi_OurClient_field3.content|richtext_filter|safe}}
              {% endeditable %}
            </div>
            -->
          </div> <!-- / items -->

        </div> <!-- / scrollable -->

        <!-- "next page" action -->
        <a class="next browse right">NEXT</a>
      </section>
    </div>
{% endblock %}

{% block grey %}{% endblock %}

{% block tabs_box %}
<div class="wrapper">
    <div class="tab__controls">
        <ul class="tab__links">
          <li><a class="tab__link" href="#tabs-1">Oil &amp; Gas</a></li>
          <li><a class="tab__link" href="#tabs-2">Renewable Energy</a></li>
          <li><a class="tab__link" href="#tabs-3">Utilities</a></li>
          <li><a class="tab__link" href="#tabs-4">Maritime</a></li>
        </ul>
    </div>
</div>
<div class="tabs_box">
    <div class="wrapper">
    <section class="tabs" id="tabs_container">
      <div id="tabs-1" class="tab">
        <div class="tab__text">
            {% editable flexi_OilandGas.content %}
            {{flexi_OilandGas.content|richtext_filter|safe}}
            {% endeditable %}
          <a href="/our-sectors/clients/cairn-energy/" class="button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-2" class="tab">
        <div class="tab__text">
            {% editable flexi_Renewables.content %}
            {{flexi_Renewables.content|richtext_filter|safe}}
            {% endeditable %}
          <a href="/our-sectors/clients/ckd-galbraith/" class="button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-3" class="tab">
        <div class="tab__text">
          {% editable flexi_Utilities.content %}
            {{flexi_Utilities.content|richtext_filter|safe}}
            {% endeditable %}
          <a href="/our-sectors/clients/critical-contribution-to-major-utilities-project-performance/" class="button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-4" class="tab">
        <div class="tab__text">
            {% editable flexi_Maritime.content %}
            {{flexi_Maritime.content|richtext_filter|safe}}
            {% endeditable %}
          <a href="/our-sectors/clients/ipieca/" class="button">View Case Study</a>
        </div>
      </div>
    </section>
    </div>
</div>
{% endblock %}

{% block partners %}
<div class="clients">
      <section class="wrapper slider__wrapper">
        <h3 class="clients__title">Our Partners</h3>

        <!-- "previous page" action -->
        <a class="prev browse left">PREV</a>

        <!-- root element for scrollable -->
        <div class="scrollable" id="scrollable">

          <!-- root element for the items -->
          <div class="items">

            <!-- 1-5 -->
            <div>
              {% editable flexi_OurPartners_field1.content %}
              {{flexi_OurPartners_field1.content|richtext_filter|safe}}
              {% endeditable %}
            </div>

            <!-- 5-10 -->
            <div>
              {% editable flexi_OurPartners_field2.content %}
              {{flexi_OurPartners_field2.content|richtext_filter|safe}}
              {% endeditable %}
            </div>

            <!-- 10-15 -->
            <!--
            <div>
              {% editable flexi_OurPartners_field3.content %}
              {{flexi_OurPartners_field3.content|richtext_filter|safe}}
              {% endeditable %}
            </div>
            -->
          </div> <!-- / items -->

        </div> <!-- / scrollable -->

        <!-- "next page" action -->
        <a class="next browse right">NEXT</a>
      </section>
    </div>
{% endblock %}


{% block feature_box %}
<div class="feature_box">
    <div class="wrapper">
        <div class="feature">
            <h3 class="feature__title">Our Team</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">
            {% editable flexi_OurTeamBox.content %}
            {{flexi_OurTeamBox.content|richtext_filter|safe}}
            {% endeditable %}
            </p>
            <a href="team/our-team" class="feature__link">Read more</a>
            </div>
        </div>
        <div class="feature">
            <h3 class="feature__title">Our News</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">

            {% block blog_recent_posts %}
            {% blog_recent_posts 3 as recent_posts %}
            {% if recent_posts %}
            <div class="news_block">
            <ul class="unstyled recent-posts bloggy">
            {% for recent_post in recent_posts %}
            <li><a href="{{ recent_post.get_absolute_url }}"
        >{{ recent_post.title }}</a> <h6>{{ recent_post.publish_date|timesince }} {% trans "ago" %}<h6><hr></li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}
            {% endblock %}

            <a href="blog" class="feature__link">Read more</a>
            </div>

        </div>
        <div class="feature">
            <h3 class="feature__title">Our Video</h3>
            <div class="feature__text">
            <h4 class="feature__title--sub">
            {% editable flexi_OurVideoBox.content %}
            {{flexi_OurVideoBox.content|richtext_filter|safe}}
            {% endeditable %}
            </p>
            <!--<a href="video" class="feature__link">See more</a>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block feed_panel %}{% endblock %}

{% block main %}{{ block.super }}

{% endblock %}
