{% load i18n %}

<div class="clients">
      <section class="wrapper slider__wrapper">
        <h3 class="clients__title">Our Partners</h3>

        <!-- "previous page" action -->
        <a class="prev browse left">PREV</a>

        <!-- root element for scrollable -->
        <div class="scrollable" id="scrollable">

          <!-- root element for the items -->
          <div class="items">

            <!-- 1-5 -->
            <div>
              <img src="{{ MEDIA_URL }}uploads/logos/AberdeenGrampianChamberofCommerce.gif" />
              <img src="{{ MEDIA_URL }}uploads/logos/SafeContractorApproved.gif" />
              <img src="{{ MEDIA_URL }}uploads/logos/RoyalGeographicalSociety.gif" />
              <img src="{{ MEDIA_URL }}uploads/logos/Google.gif" />
              <img src="{{ MEDIA_URL }}uploads/logos/ScottishOilClub.gif" />
            </div>

            <!-- 5-10 -->
            <div>
              <img src="{{ MEDIA_URL }}uploads/logos/AGI.gif" />
              <img src="{{ MEDIA_URL }}uploads/logos/EdinChamberofCom.gif" />
              <img src="{{ MEDIA_URL }}uploads/logos/EsriPartner.gif" />
              <img src="{{ MEDIA_URL }}uploads/logos/MobileHealthcareNetworks.gif" />
              <img src="{{ MEDIA_URL }}uploads/logos/AberdeenGrampianChamberofCommerce.gif" />
            </div>

          </div> <!-- / items -->

        </div> <!-- / scrollable -->

        <!-- "next page" action -->
        <a class="next browse right">NEXT</a>
      </section>
    </div>
