{% load i18n %}

<div class="tabs_box">
	<div class="container">
	<section class="tabs" id="tabs_container">
      <div id="tabs-1" class="tab">
        <img src="{{ MEDIA_URL }}uploads/Home-Tab-Sample.jpg" alt="">
        <div class="tab__text">
          <h2>Cairn Energy PLC</h2>
          <p>Island GIS supported Cairn Energy Plc in setting up and supporting an Operations portal to manage and visualise all GIS mapping and mobile assets for major offshore operations.</p>
          <a href="services/oil-gas" class="tab_button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-2" class="tab">
        <img src="{{ MEDIA_URL }}uploads/Home-Tab-Sample.jpg" alt="">
        <div class="tab__text">
          <h2>Tab 2 Title</h2>
          <p>Island GIS supported Cairn Energy Plc in setting up and supporting an Operations portal to manage and visualise all GIS mapping and mobile assets for major offshore operations.</p>
          <a href="services/renewables" class="tab_button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-3" class="tab">
        <img src="{{ MEDIA_URL }}uploads/Home-Tab-Sample.jpg" alt="">
        <div class="tab__text">
          <h2>Tab 3 Title</h2>
          <p>Island GIS supported Cairn Energy Plc in setting up and supporting an Operations portal to manage and visualise all GIS mapping and mobile assets for major offshore operations.</p>
          <a href="services/utilities" class="tab_button">View Case Study</a>
        </div>
      </div>
      <div id="tabs-4" class="tab">
        <img src="{{ MEDIA_URL }}uploads/Home-Tab-Sample.jpg" alt="">
        <div class="tab__text">
          <h2>Tab 4 Title</h2>
          <p>Island GIS supported Cairn Energy Plc in setting up and supporting an Operations portal to manage and visualise all GIS mapping and mobile assets for major offshore operations.</p>
          <a href="services/maritime" class="tab_button">View Case Study</a>
        </div>
      </div>
    </section>
	</div>
</div>
